* {
    padding: 0px;
    margin: 0px;
    border: border-box;
    font-family: Arial;


}

/* START DONORLOGIN */


.donor-login-section {
    display: inline-block;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.boxA {
    height: 350px;
    width: 50%;
    margin-top: 30px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    align-items: center;
    background-color: #CED0CE;
    border-radius: 10px;

}

.boxA input {
    height: 25px;
    width: 50%;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    background-color: #E6E8E6;
}

.boxA button {
    width: 15%;
    font-weight: 500;
    border-radius: 0px;
    border-width: 3px;
    padding: 10px 10px 10px 10px;
    background-color: #A72608;
}

.FS {
    margin-top: 20px;
}

.FS a {
    margin-left: 95px;
    margin-right: 90px;
    font-weight: 100;

}

.FS a:hover {
    background-color: #A72608;
    border-radius: 20%;
    border: 2px solid transparent;
    font-size: large;


}


/* DONORSIGNUP PAGE */


.donor-signup-section {
    display: inline-block;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.boxB {
    height: 530px;
    width: 65%;
    margin-top: 0px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    align-items: center;
    background-color: #CED0CE;
    border-radius: 10px;
}

.boxB input {
    height: 22px;
    width: 55%;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    background-color: #E6E8E6;
}

.boxB textarea {
    height: 22px;
    width: 55%;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    background-color: #E6EED6;
}

.boxB button {
    height: 40px;
    width: 13%;
    background-color: #A72608;

}

#pic {
    background-color: #E6EED6;
}





/* donor RESET Password */

.donor-reset-section {
    display: inline-block;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.boxc {
    height: 300px;

    width: 50%;
    margin-top: 30px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    align-items: center;
    background-color: #A72608;
    border-radius: 10px;
}

.boxc input {
    height: 25px;
    width: 50%;
    padding: 10px 10px 10px 10px;
    margin: 30px 10px 10px 10px;
    background-color: #E6EED6;
}

.boxc button {
    margin-top: 30px;
    width: 20%;
    font-weight: 500;
    border-radius: 0px;
    border-width: 3px;
    padding: 10px 10px 10px 10px;
    background-color: #BBC5AA;
}

.boxc a {
    padding: 10px 10px 10px 0px;
    margin-left: 160px;
}


/* donor ----HOME */

.main {
    display: flex;
    height: 100vh;



}

.sidebar {

    width: 300px;
    background-color: #BBC5AA;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
}

.maincontent {
    background-color: #DDE2C6;
    flex: 1rem;
    display: flex;
    padding: 10px 10px 10px 10px;
    display: inline-block;
    justify-content: space-between;



}

.heading {
    text-align: center;
    text-transform: uppercase;

}

.profile {
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.profilepic img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 2px solid #A72608
}

.profilename {
    flex: 1rem;
    padding-left: 20px;
}

#icon {
    height: 50px;
    width: 50px;
    font-size: xx-large;
    padding: 10px 10px 10px 10px;

}

.menubar {
    padding: 10px 10px 10px 10px;
    line-height: 50px;
    margin-left: 50px;
    margin-right: 50px;

}

.menubar a {
    font-weight: 700;
}

h4 {
    color: #A72608;
}

li {
    line-height: 20px;
    text-decoration: none;
    font-weight: 400;
    margin-left: 40px;
}

a {
    text-decoration: none;
}

th {
    padding: 10px 10px 10px 10px;

}




/* DOnatNow */

.heading h2 {
    padding: 10px 10px 10px 10px;
    text-align: center;


}

hr {
    height: 2px;
    background-color: #A72608;
}

.formstart {
    /* width: 100%; */
    padding: 20px 20px 20px 50px;

}

label {
    font-weight: 700;
    color: #090C02;
    margin: 10px 10px 10px 50px;


}

select {
    width: 95%;
    height: 50px;
    background-color: #9DA993;
    margin: 10px 10px 10px 50px;

}

.formstart input {
    width: 95%;
    height: 50px;
    background-color: #9DA993;
    margin: 10px 10px 10px 50px;

}

.formstart textarea {
    height: 50px;
    width: 95%;
    background-color: #9DA993;
    margin: 10px 10px 10px 50px;
    



}

#q {
    width: 95%;
    height: 50px;
    background-color: #9DA993;
    border: none;
    margin: 10px 10px 10px 50px;

}

#w {
    height: 50px;
    width: 15%;
    margin: 10px 10px 10px 50px;
}