* {
    padding: 0px;
    margin: 0px;
    border: border-box;
    font-family: Arial;

}

body {
    background-color: #E6E8E6;
   
    



}

header {
    top: 0px;
    position: sticky;
}

.navbar {
   /* opacity: 0.9; */
    height: 65px;
    background-color: #CED0CE;
    display: inline-block;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    


}

.logowithbrandname {
    padding-left: 45px;
}

.logowithbrandname a {
  
    color: #191919;
}

.menu a {
   
    text-decoration: none;
    padding: 5px 5px 5px 5px;
    color: #191919;
    font-weight: 600;
}

.brandname {
    padding-left: 7px;
    font-size: xx-large;
    font-weight: 900;
    text-decoration: none;

}

.menu {
    padding-right: 25px;


}

.menu a:hover {
    background-color: #A72608;
    border: 1px solid;
    border-radius: 20%;
    transition: all 0.3s ease-in ;
}


/* END HEADER DESINING */
.container {
   
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

#box1 {
    height: 300px;
    padding: 5px 5px 5px 5px;


}

#box2 {
    height: 300px;
    padding: 5px 5px 5px 5px;
    margin-right: 25px;



}

#box2 img {
    height: 300px;
    width: 725px;
    border-radius: 39%;
    border: 2px solid #69140E;
   



}

#box1 h1 {
    text-align: left;
    color: #A72608;
    margin-left: 0px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Times New Roman', Times, serif;

}

#box1 p {
    text-align: justify;
    font-size: medium;
    font-weight: 500;
    padding-left: 25px;
    padding-right: 25px;
}

#box1 a {
    color: #A72608;
    margin-left: 25px;
    text-decoration: none;
}

#box1 a:hover {

  background-color: #BBC5AA;
  border: 2px solid #BBC5AA;
  border-radius: 30%;
  border-width: 20px;
  transition: all 0.7s ease-in;
     
 }



/* eND HOME */


/* START ABOUT DESINING */
.container-0 {
    margin-top: 40px;
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

#box3 {
    height: 350px;
    width: 725px;
    padding: 5px 5px 5px 5px;
    margin-left: 20px;
    padding: 10px 10px 10px 10px;
}

#box3 img {
    height: 350px;
    width: 725px;
    border-radius: 75%;
    border: 2px solid #69140E;
   

}

#box4 {
    height: 300px;
    width: 725;
    padding: 5px 5px 5px 5px;

}

#box4 h3 {
    font-weight: 500;
    text-align: justify;
    margin-right: 25px;
    line-height: 2rem;
}

#box4 h2 {
    text-align: center;
    color: #69140E;
    font-family: 'Times New Roman', Times, serif;
}

#box4 a {
    text-decoration: none;
    margin-left: 4px;
    color: #191919;

}
#box4 a:hover{
    background-color: #BBC5AA;
    border: 2px solid #BBC5AA;
    border-radius: 30%;
    border-width: 20px;
    transition: all 0.7s ease-in;
}


/* end about us */



/* Start Services */

.service-section {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;



}

.service-section .box {
    height: 400px;
    width: 23%;
    padding: 10px 10px 10px 10px;
}

.box-img {
    height: 300px;
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
  
    border:2px solid #BBC5AA
}

.box-content {
    margin: 10px 10px 10px 10px;
}

/* .box-content h3 {
    text-align: center;
    color: #BBC5AA;
    /* border: 2px solid #A72608; */
    /* border-radius: 40%; */

 

.box-content a {
  
    color: #191919;
    text-decoration: none;


}

.box-content a:hover {
   
    background-color: #BFB5AF;
    border: 2px solid #BFB5AF;
    border-radius: 20%;
    border-width: 10px;
    transition: all 0.4s ease-in;

}



/* End Services */



/* start Footer */

.container-3 {
    margin-top: 10px;
    height: 200px;
    display: flex;
    background-color: #DDE2C6;
    display: flex;
    justify-content: space-around;
    align-items: center;


}

.lowerfooter {
    height: 10px;
    background-color: #BBC5AA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
}

#lf {
    padding: 10px 10px 10px 10px;

}

.copyright {
    margin-left: 68px;
}

.madewith {
    margin-right: 60px;
}